apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
  # github.com/utilitywarehouse/vault-kube-cloud-credentials/manifests/operator/cluster?ref=master
  - ../../operator/cluster
  # github.com/utilitywarehouse/vault-kube-cloud-credentials/manifests/operator/namespaced?ref=master
  - ../../operator/namespaced
resources:
  - rbac.yaml
configMapGenerator:
  - name: vault-kube-cloud-credentials-operator
    files:
      - config.yaml=resources/operator-config.yaml
secretGenerator:
  - name: vault
    envs:
      - secrets/vault.env
  - name: vault-tls
    files:
      - secrets/ca.crt
patchesStrategicMerge:
  - vault-kube-cloud-credentials-operator-patch.yaml
