apiVersion: v1
kind: ServiceAccount
metadata:
  name: gcp-probe
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gcp-probe
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gcp-probe
  template:
    metadata:
      labels:
        app: gcp-probe
    spec:
      serviceAccountName: gcp-probe
      containers:
        - name: gcp-credentials
          image: quay.io/utilitywarehouse/vault-kube-cloud-credentials:0.6.3
          args:
            - gcp-sidecar
          env:
            - name: VAULT_ADDR
              value: "https://vault.example-namespace:8200"
            - name: VAULT_CACERT
              value: "/etc/tls/ca.crt"
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_SERVICE_ACCOUNT
              valueFrom:
                fieldRef:
                  fieldPath: spec.serviceAccountName
          volumeMounts:
            - name: vault-tls
              mountPath: /etc/tls
        - name: gcp-probe
          image: google/cloud-sdk:alpine
          command:
            - sh
            - -c
            - |
              while true; do
                gcloud dns managed-zones list
                sleep 600
              done
          env:
            - name: GCE_METADATA_HOST
              value: "127.0.0.1:8098"
      volumes:
        - name: vault-tls
          configMap:
            name: vault-tls
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: vault-tls
data:
  ca.crt: |
    -----BEGIN CERTIFICATE-----
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    -----END CERTIFICATE-----
